PROJECT=BBL_Test

LANGCHAIN_PROJECT=rag-multi-agent
LLM_PROVIDER=   # options: azure | ollama
EMBEDDING_PROVIDER=   # options: azure | ollama

########################################
# AZURE OPENAI
########################################
AZURE_ENDPOINT=
AZURE_DEPLOYMENT=
AZURE_OPENAI_KEY=
AZURE_OPENAI_VERSION=

########################################
# OLLAMA (LOCAL LLM)
########################################
OLLAMA_BASE_URL=
OLLAMA_MODEL=
OLLAMA_EMBEDDING_MODEL=
